{% extends "navabar.html" %} 
{% block article %}
{% load static %}


			<!--
			=====================================================
				Blog Page Details
			=====================================================
			-->

			<div class="col-md-12">
				<h2 class="text-violet"> نبذة عن قسم الحاسب </h2>
				<div class="violet">
					<div class="col-md-12">
						<p class="p-violet" id='note'>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم</p>
			</div>
			</div>
			</div>
			<article class="blog-details-page">
				<div class="container">
					<div class="col-md-12">
                        {% for post in post_list %}
						<div class="blog-details-post-wrapper">
							{% comment %} <img src="{% static 'images/default.jpg'%}" alt="Image"> {% endcomment %}
							<img src="{{ post.image.url }}" alt="Image">
							<div class="post-heading">
							<h4>{{ post.title }}</h4>
							</div> <!-- /.post-heading -->
							<p>{{post.content|slice:":500" }}</p>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<p><i class="fa fa-quote-left" aria-hidden="true"></i>
								</div>
							</div> <!-- /.row -->
							<div class="clear-fix post-share-area">
							<a href="{% url 'post_detail' post.slug%}" class="more tran3s hvr-bounce-to-right"><button type="button" class="btn btn-success">للمزيد</button>
						</a>
							<div class="post-heading-1">

								<ul class="share-icon float-left">
									<li>مشاركة</li>
									<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/" class="tran3s round-border"><i class="fa fa-snapchat" aria-hidden="true"></i></a></li>
									<li><a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="whatsapp://send?text=<URL" class="tran3s round-border"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>	
									{% comment %} <li><a href="#" class="tran3s active">الطب,</a></li>
									<li><a href="#" class="tran3s">التقنية ,</a></li>
									<li><a href="#" class="tran3s">الهندسة,</a></li>
									<li><a href="#" class="tran3s">القانون</a></li> {% endcomment %}
								</ul>
								<ul class="share-icon float-right">
								<span>Posted by <a href="#" class="tran3s p-color">{{ post.author }}</a> {{ post.created_on}}</span>
								</ul>
                            </div> <!-- /post-share-area -->
                        </div> <!-- /.list-img-wrapper -->
                        {% endfor %}
                    </div> <!--/.col -->
				</div> <!-- /.container -->
			</article>
{% endblock %}