{% extends "base.html" %} 
{% load static %}
{% block content%}

            <!--
            =====================================================
                Theme title violet
            =====================================================
            -->
                <section id="about-us">
                    <div class="container">
                        <div class='theme-title'>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-violet"> الرؤية </h2>
                    </div>
                        <div class="violet">
                            <div class="col-md-6 mb32 d-violet">
                                <h6 class="title-violet">الرسالة</h6>
                                <p class="p-violet"><b>عنوان إن وجد</b> أعرتك ناظري ففقأت عيني رفعتك للعلا فوضعت شاني كسوتك ملبسي فكشفت جسمي بنشـوة فائز فى المهرجانِ سترتك من سهام الفتك عمرا فسلطت السهام على حصاني وما أنت الملوم فكيف أرجو</p>
                            </div>
                            <div class="col-md-6 mb32 d-violet">
                                <h6 class="title-violet">الرؤية</h6>
                                <p class="p-violet"><b>عنوان إن وجد</b> أعرتك ناظري ففقأت عيني رفعتك للعلا فوضعت شاني كسوتك ملبسي فكشفت جسمي بنشـوة فائز فى المهرجانِ سترتك من سهام الفتك عمرا فسلطت السهام على حصاني وما أنت الملوم فكيف أرجو</p>                        </div>
                            <div class="col-md-6 mb32 d-violet">
                                <h6 class="title-violet">الأهداف</h6>
                                <p class="p-violet"><b>عنوان إن وجد</b> أعرتك ناظري ففقأت عيني رفعتك للعلا فوضعت شاني كسوتك ملبسي فكشفت جسمي بنشـوة فائز فى المهرجانِ سترتك من سهام الفتك عمرا فسلطت السهام على حصاني وما أنت الملوم فكيف أرجو</p>
                            </div>
                            <div class="col-md-6 mb32 d-violet">
                                <h6 class="title-violet">الأنشطة</h6>
                                <p class="p-violet"><b>عنوان إن وجد</b> أعرتك ناظري ففقأت عيني رفعتك للعلا فوضعت شاني كسوتك ملبسي فكشفت جسمي بنشـوة فائز فى المهرجانِ سترتك من سهام الفتك عمرا فسلطت السهام على حصاني وما أنت الملوم فكيف أرجو</p>
                            </div>
                            </div>
                            <div class="col-md-12">
                            <h2 class="text-violet"> الرسالة </h2>
                            <div class="violet">
                                <div class="col-md-12">
                                    <p class="p-violet">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم</p>
                        </div>
                        </div>
                        </div>
                    </div>
                </section>

	        <!--
			=====================================================
				About us Section
			=====================================================
			-->
			<section id="about-us">
				<div class="container">
					<div class="theme-title">
						<h2>أقسام الجمعية</h2>
						<p>هنا تكتب نبذه عن أقسام الجمعية</p>
					</div> <!-- /.theme-title -->

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-desktop" aria-hidden="true"></i>
								</div>
								<h5><a href="" class="tran3s">الحاسب و التقنية</a></h5>
								<p>هنا يكتب وصف بسيط</p>
								<a href="{% url 'blog_post'%}" class="more tran3s hvr-bounce-to-right">للمزيد</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fas fa-pills" aria-hidden="true"></i>
								</div>
								<h5><a href="{% url 'blog_post'%}" class="tran3s">الصيدلة</a></h5>
								<p>هنا يكتب وصف بسيط</p>
								<a href="{% url 'blog_post'%}" class="more tran3s hvr-bounce-to-right">للمزيد</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-medkit" aria-hidden="true"></i>
								</div>
								<h5><a href="{% url 'blog_post'%}" class="tran3s">العلوم الطبية التطبيقية</a></h5>
								<p>هنا يكتب وصف بسيط</p>
								<a href="{% url 'blog_post'%}" class="more tran3s hvr-bounce-to-right">للمزيد</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-user-md" aria-hidden="true"></i>
								</div>
								<h5><a href="{% url 'blog_post'%}" class="tran3s">الطب البشري</a></h5>
								<p>هنا يكتب وصف بسيط</p>
								<a href="{% url 'blog_post'%}" class="more tran3s hvr-bounce-to-right">للمزيد</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /#about-us -->
			<!--
			=====================================================
				Team Section
			=====================================================
			-->
			<div id="team-section">
				<div class="container">
					<div class="theme-title">
						<h2>رؤساء الفرق </h2>
						<p>للتواصل مع اي من هؤلاء القادة او الرغبة في الإنضمام إلى اي من هذه الفرق
					</div> <!-- /.theme-title -->

					<div class="clear-fix team-member-wrapper">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-team-member">
								<div class="img">
									<img src="{% static 'images/team/1.jpg'%}" alt="Image">
									<div class="opacity tran4s">
										<h4>أسم الشخص</h4>
										<span>الحاسب و التقنية</span>
										<p>هنا يكتب وصف مختصر عن انجازات هذا الرجل.</p>
									</div>
								</div> <!-- /.img -->
								<div class="member-name">
									<h6>أسم الشخص</h6>
									<p>الحاسب و التقنية</p>
									<ul>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.member-name -->
							</div> <!-- /.single-team-member -->
						</div> <!-- /float-left -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-team-member">
								<div class="img">
									<img src="{% static 'images/team/1.jpg'%}" alt="Image">
									<div class="opacity tran4s">
										<h4>أسم الشخص</h4>
										<span>الطب البشري</span>
										<p>هنا يكتب وصف مختصر </p>
									</div>
								</div> <!-- /.img -->
								<div class="member-name">
									<h6>أسم الشخص</h6>
									<p>الطب البشري</p>
									<ul>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.member-name -->
							</div> <!-- /.single-team-member -->
						</div> <!-- /float-left -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-team-member">
								<div class="img">
									<img src="{% static 'images/team/1.jpg'%}" alt="Image">
									<div class="opacity tran4s">
										<h4>أسم الشخص</h4>
										<span>العلوم الهندسية</span>
										<p>هنا يكتب وصف مختصر عن انجازات هذا الرجل</p>
									</div>
								</div> <!-- /.img -->
								<div class="member-name">
									<h6>أسم الشخص</h6>
									<p>العلوم الهندسية</p>
									<ul>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.member-name -->
							</div> <!-- /.single-team-member -->
						</div> <!-- /float-left -->
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-team-member">
								<div class="img">
									<img src="{% static 'images/team/1.jpg'%}" alt="Image">
									<div class="opacity tran4s">
										<h4>أسم الشخص</h4>
										<span>الحاسب و التقنية</span>
										<p>هنا يكتب وصف مختصر عن انجازات هذا الرجل.</p>
									</div>
								</div> <!-- /.img -->
								<div class="member-name">
									<h6>أسم الشخص</h6>
									<p>الحاسب و التقنية</p>
									<ul>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div> <!-- /.member-name -->
							</div> <!-- /.single-team-member -->
						</div> <!-- /float-left -->
					</div> <!-- /.team-member-wrapper -->
				</div> <!-- /.conatiner -->
			</div> <!-- /#team-section -->

			<!--
			=====================================================
				Contact Section
			=====================================================
			-->
			<div id="contact-section">
				<div class="container">
					<div class="clear-fix contact-address-content">

						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

									</li>
								</ul>
							</div> <!-- /.left-side -->
						</div> <!-- /.col- -->
            <div id="contact-section">
                <div class="container">
                    <div class="clear-fix contact-address-content">

					<!-- Contact Form -->
					<div class="send-message">
						<h2>إرسال رسالة</h2>

						<form action="inc/sendemail.php" class="form-validation" autocomplete="off" method="post">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="single-input">
										<input type="email" placeholder="*الإيميل" name="email">
									</div> <!-- /.single-input -->
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="single-input">
										<input type="text" placeholder="*الأسم الثاني" name="Lname">
									</div> <!-- /.single-input -->
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<div class="single-input">
										<input type="text" placeholder="*الأسم الأول" name="Fname">
									</div> <!-- /.single-input -->
								</div>
							</div> <!-- /.row -->
							<div class="single-input">
								<input type="text" placeholder="العنوان" name="sub">
							</div> <!-- /.single-input -->
							<textarea placeholder="أكتب رسالتك هنا" name="message"></textarea>


							<button class="tran3s p-color-bg">إرسال الرسالة</button>
						</form>


						<!-- Contact Form Validation Markup -->
						<!-- Contact alert -->
						<div class="alert-wrapper" id="alert-success">
							<div id="success">
								<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
								<div class="wrapper">
					               	<p>.تم ارسال رسالتك بنجاح</p>
					             </div>
					        </div>
					    </div> <!-- End of .alert_wrapper -->
					    <div class="alert-wrapper" id="alert-error">
					        <div id="error">
					           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
					           	<div class="wrapper">
					               	<p>.نعتذر عن عدم الارسال هناك خلل ما</p>
					            </div>
					        </div>
					    </div> <!-- End of .alert_wrapper -->
					</div> <!-- /.send-message -->
				</div> <!-- /.container -->
			</div> <!-- /#contact-section -->


{% endblock  %}
