{% extends "navabar.html" %} 
{% load static %}
{% block article %}


			<!--
			=====================================================
				Blog Page Details
			=====================================================
			-->
			<article class="blog-details-page">
				<div class="container">
					<div class="col-md-12">
                        {% for post in post_list %}
						<div class="blog-details-post-wrapper">
							<img src="images/home/c2.jpg" alt="Image">
							<div class="post-heading">
								<h4>{{ post.title }}</h4>
							</div> <!-- /.post-heading -->
							<p>{{post.content|slice:":500" }}</p>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<p><i class="fa fa-quote-left" aria-hidden="true"></i>
								</div>
							</div> <!-- /.row -->
							<div class="clear-fix post-share-area">
								<ul class="share-icon float-left">
									<li>مشاركة</li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									{% comment %} <li><a href="#" class="tran3s active">الطب,</a></li>
									<li><a href="#" class="tran3s">التقنية ,</a></li>
									<li><a href="#" class="tran3s">الهندسة,</a></li>
									<li><a href="#" class="tran3s">القانون</a></li> {% endcomment %}
								</ul>
								<ul class="share-icon float-right">
								<span>Posted by <a href="#" class="tran3s p-color">{{ post.author }}</a> {{ post.created_on}}</span>
                                <a herf=" {% url 'post_detail' post.slug %}">للمزيد</a>
								</ul>
                            </div> <!-- /post-share-area -->
                        </div> <!-- /.list-img-wrapper -->
                        {% endfor %}
                    </div> <!--/.col -->
				</div> <!-- /.container -->
			</article>
{%endblock %}