{% extends 'navabar.html' %} {% block article %}
{% load static %}

<div class="container">
  <div class="row">
			<article class="blog-details-page">
				<div class="container">
					<div class="col-md-12">
						<div class="blog-details-post-wrapper">
							<img src="{{ medicalpost.image.url }}" alt="Image">
							{% comment %} <img src="{% static 'images/default.jpg'%}" alt="Image"> {% endcomment %}
							<div class="post-heading">
							<h4>{{ mediaclpost.title_medi }}</h4>
							</div> <!-- /.post-heading -->
							<p>{{medicalpost.content_medi}}</p>
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<p><i class="fa fa-quote-left" aria-hidden="true"></i>
								</div>
							</div> <!-- /.row -->
							<div class="clear-fix post-share-area">
							<a href="{% url 'post_detail_medical' medicalpost.slug_medi%}" class="more tran3s hvr-bounce-to-right">للمزيد</a>
							<div class="post-heading-1">

								<ul class="share-icon float-left">
									<li>مشاركة</li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-snapchat" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>	
								</ul>
								<ul class="share-icon float-right">
								<span>Posted by <a href="#" class="tran3s p-color">{{ medicalpost.author_medi }}</a> {{ medicalpost.created_on_medi}}</span>
								</ul>
                            </div> <!-- /post-share-area -->
                        </div> <!-- /.list-img-wrapper -->

{% endblock article %}